/node_modules
/BrowserStackLocal
/sc-4.3.16-*
/sc.zip
/sauce-connect.log
/browserstack-local-saucey.pid
/plugin-installer/SauceLabsInstaller.exe
/plugin-installer/installer
/edge-setup/installer
/edge-setup/EdgeSetup.exe
